body {
    background-color: burlywood;
}

h3 {
    color: brown;
}

h4 {
    color: chocolate;
    padding-left: 20px;
}

#titulo {
    color: brown;
    text-align: center;
}

#subtitulo {
    color: brown;
    text-align: center;
}

.foto_perfil {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.description {
    text-align: center;
}