body {
    background-color: burlywood;
    font-family: helvetica, Arial, sans-serif;
}

h3 {
    color: brown;
}

h4 {
    color: chocolate;
    padding-left: 20px;
}

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#titulo {
    color: brown;
    text-align: center;
    font-size: 2.5em;
    line-height: 10px;
}

#subtitulo {
    color: brown;
    text-align: center;
}

.foto_perfil {
    display: block;
    margin-left: auto;
    margin-right: auto
    
}

.description {
    text-align: center;
}

#rodape {
    text-align: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}