:root{
  --light-primary-color: #6200EE;
  --light-primary-variant-color: #3700B3;
  --light-secondary-color: #03DAC6;
  --light-second-variant-color: #018786;
  --light-backgound-color: #f9f9fa;
  --light-surface-color: #ffffff;
  --light-error-color: #b00020;
  --dark-primary-color: #BB86FC;
  --dark-primary-variant-color: #3700B3;
  --dark-secondary-color: #03DAC6;
  --dark-second-variant-color: #018786;
  --dark-backgound-color: #121212;
  --dark-surface-color: #121212;
  --dark-error-color: #cf6679;
}
* {
  margin: 0;
}
body {
  /* background-image: url(./img/dark-bg.jpg); */
  /* background-position: center; */
  background-color: #121212;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: #BB86FC;
  margin: 0 5px;  
}

a:hover {
  color: #03DAC6;
}

.nav-bar {
  align-items: center;
  background-color: #0c0c0c;
  box-shadow: 0 0 10px black;
  display: flex;
  height: 50px;
  padding: 0 110px;
}

.rb-initials {
  font-size: 2em;
  font-weight: 700;
  color: #03DAC6;
  margin-right: 20px;
  text-shadow: 2px 2px 4px black;
}

.main-container {
  /* background-color: #000000; */
  margin-top: 100px;
  margin-left: 100px;
  width:85%;
}

.heading1 {
  border-bottom: 1px solid var(--light-primary-color);
  color: #03DAC6;
  font-size: 3em;
  margin-left: 5px;
  text-shadow: 2px 2px 4px black;
}


.about-me {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: justify;
  width: 95%;
  text-shadow: 1px 1px 2px black;
}

.about-me-text {
  align-self: center;
  color: var(--dark-primary-color);
  font-size: 1.2em;
  margin-left: 20px;
}

.me-picture {
  height: 220px;
  margin-left:5px;
}

.about-me-description {
  display:flex;
  justify-content: center;
  margin-top: 10px;
}

.emphasis-text {
  color: var(--dark-secondary-color);
  font-weight: 900;
}